// Stile per il titolo del dialogo

h1[mat-dialog-title] {
  
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

// Stile per il contenuto del dialogo
div[mat-dialog-content] {
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; // Rendi il form più largo

    mat-form-field {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

// Stile per le azioni del dialogo
div[mat-dialog-actions] {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 10px;
  }
}

// Stile per il titolo del dialogo
h1[mat-dialog-title] {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}


// Stile per il contenuto del dialogo
div[mat-dialog-content] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; // Rendi il form più largo

    mat-form-field {
      width: 100%;
      margin-bottom: 20px;

      .mat-label-error {
        color: red;
        font-size: 12px;
      }
    }
  }
}

// Stile per le azioni del dialogo
div[mat-dialog-actions] {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 10px;
  }
}

