section{
    padding:40px;
}

table {
    width: 100%;
  }

  .containers {
    margin-top:1%;
    display: table;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  /* users.component.scss */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:50vh;
  width: 100%;
}

  