section{
    padding:40px;
}

table {
    width: 100%;
  }
  .user-row:hover {
    background-color: #f1f1f1; // Cambia questo colore secondo le tue preferenze
    cursor: pointer;
  }


  .containers {
    margin-top:1%;
    display: table;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  /* users.component.scss */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:50vh;
  width: 100%;
}

.filter-form {
  display: flex;
  align-items: center;
  gap: 8px; /* Spazio tra il campo input e l'icona */


.clear-button {
  z-index: 1;

  &:hover {
    mat-icon {
      color: #ff6666; // Cambia colore al passaggio del mouse
    }
  }
}

  mat-form-field {
    
    flex: 0.5; /* Fa sì che il campo input occupi tutto lo spazio disponibile */
    margin-right: 8px; /* Spazio tra il campo input e l'icona */
  }

  mat-icon {
    cursor: pointer;
    font-size:x-large; /* Cambia il colore dell'icona se necessario */
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: stretch;

    mat-form-field {
      margin-right: 0;
      margin-bottom: 8px; /* Spazio tra il campo input e l'icona */
    }

    mat-icon {
      align-self: flex-end;
    }
  }
}



.green-dot {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  
}

.red-dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}



.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;

    &:disabled {
      background-color: #c0c0c0;
      cursor: not-allowed;
    }
  }

  span {
    margin: 0 10px;
    align-self: center;
  }
}


