section {
  padding: 20px; /* Ridotto il padding per schermi più piccoli */
  &.section-small {
    height: 80vh; /* Imposta altezza a 80vh quando la classe è attiva */
  }
  // Gestisci altezza per schermi piccoli
  @media (max-width: 600px) {
    &.section-small {
      height: auto; /* Resetta l'altezza a auto per schermi piccoli */
    }
  }

}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.filter-form {
  display: flex;
  align-items: center;
  gap: 8px; /* Spazio tra il campo input e il bottone clear */
  max-width: 100%;
   /* Assicura che il form non superi la larghezza del contenitore */

  mat-form-field {
    flex: 1; /* Occupa tutto lo spazio disponibile tranne quello per il bottone */
    margin: 0; /* Rimuove margini extra */
    max-width: 40%; /* Imposta una larghezza massima per il campo di input */
  }

  .clear-button {
    margin: 0;
    background-color: transparent; /* Rimuove il colore di sfondo predefinito */
    border: none; /* Rimuove il bordo predefinito */
    padding: 8px; /* Aggiunge un po' di spazio attorno all'icona */

    mat-icon {
      font-size: 24px; /* Dimensiona l'icona per essere ben visibile */
    }
    
    &:hover {
      background-color: #f1f1f1; /* Cambia colore al passaggio del mouse */
    }
  }

  @media (max-width: 600px) {
    
    mat-form-field {
      margin-bottom: 8px; /* Spazio tra il campo input e il bottone clear */
      max-width: 80%; /* Assicura che il campo input occupi tutto lo spazio disponibile */
    }

    .clear-button {
      margin-bottom:10%;
      align-self: flex-end; /* Allinea il bottone a destra */
    }
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center; /* Centra le card orizzontalmente */
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  padding: 16px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  &.highlight-card {
    border: 2px solid #4caf50;
  }

  .card-content {
    h3 {
      margin: 0;
      font-size: 1.2em;
    }

    p {
      margin: 8px 0;
    }

    .green-dot,
    .red-dot {
      margin-left:5px;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      display: inline-block;
    }

    .green-dot {
      background-color: rgb(41, 229, 51);
    }

    .red-dot {
      background-color: rgba(234, 19, 19, 0.877);
    }
  }

  .card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    

    .delete {
      color: navy;
      margin-left: 8px;

      &:hover {
        color: red;
      }

      mat-icon {
        font-size: 20px;

      }
    }
  }
}

.pagination-controls {
  max-width: 50%;
  margin: 0 auto;
  margin-top:2%;
  display: flex;
  align-items: center;
  justify-content: center;

  .paginator {
    display: flex;
    align-items: center;

    button {
      margin: 0 5px;
      padding: 5px 10px;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      border-radius: 4px;

      &:disabled {
        background-color: #c0c0c0;
        cursor: not-allowed;
      }
    }

    span {
      // Aggiungi visibilità condizionale per "Page"
      @media (max-width: 600px) {
        display: none; // Nasconde la scritta "Page" sui dispositivi mobili
      }
    }
  }

  .select-users-per-page {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    max-width: 120px;

    mat-form-field {
      margin: 0;

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-flex {
        padding-bottom: 0;
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-select {
        font-size: 14px;
      }
    }

    @media (max-width: 600px) {
      max-width: 85px;
    }
  }
}


.no-users-message {
  text-align: center;
  margin:0 auto;
  width:50%;
  color: #555;
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: 400;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}