<section>
  <!-- Icona di caricamento -->
  <div *ngIf="isLoading" class="loading-container">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Contenuto visibile solo quando il caricamento è completato -->
  <div *ngIf="!isLoading">

    <form class="filter-form">
      <!-- Filtro per ricerca utente -->
      <mat-form-field appearance="fill">
        <mat-label>Filter by Name or Email</mat-label>
        <input matInput [(ngModel)]="filterValue" name="filter" (input)="applyFilter()" placeholder="Type a name or email">
      </mat-form-field>
      <!-- Bottone per pulire il filtro -->
      <button mat-icon-button matSuffix  aria-label="Clear" class="clear-button" (click)="clearFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </form>

    <!-- Tabella utenti -->
    <table mat-table [dataSource]="filteredUsers" class="mat-elevation-z8 user-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element" (click)="goToDetail(element.id)"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" (click)="goToDetail(element.id)"> {{element.name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element" (click)="goToDetail(element.id)"> {{element.email}} </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element" (click)="goToDetail(element.id)"> {{element.gender}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Status </th>
        <td mat-cell *matCellDef="let element" (click)="goToDetail(element.id)" style="text-align: center;">
          <span [ngClass]="{'green-dot': element.status === 'active', 'red-dot': element.status === 'inactive'}"></span>
        </td>
      </ng-container>
      
      <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Data Rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="user-row"></tr>
    </table>

    <!-- Paginatore -->
    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="primaPagina"> < </button> <!-- back -->
      <span>Page {{currentPage}}</span>
      <button (click)="nextPage()" [disabled]="!oltre" > > </button> <!-- next -->
    </div>

  </div>
</section>
