<section>
  <!-- Icona di caricamento -->
  <div *ngIf="isLoading" class="loading-container">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Contenuto visibile solo quando il caricamento è completato -->
  <div *ngIf="!isLoading">
    <!-- Filtro per ricerca utente -->
    <form class="filter-form">
      <mat-form-field appearance="fill">
        <mat-label>Filter by Name or Email</mat-label>
        <input matInput [(ngModel)]="filterValue" name="filter" (input)="applyFilter()" placeholder="Type a name or email">
      </mat-form-field>
      <!-- Bottone per pulire il filtro -->
      <button mat-icon-button matSuffix aria-label="Clear" class="clear-button" (click)="clearFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </form>

    <!-- Cards utenti -->
    <div class="cards-container" >
      <div *ngFor="let user of filteredUsers; let i = index" class="card" [ngClass]="{'highlight-card': user.id === userID}" (click)="user.id === userID ? goToProfile() : goToDetail(user.id!)">
        <div class="card-content">
          <h3>{{i + 1}}. {{user.name}} <span [ngClass]="{'green-dot': user.status === 'active', 'red-dot': user.status === 'inactive'}"></span> </h3> 
          <p><strong>Email:</strong> {{user.email}} </p>
        </div>
        <div class="card-actions">
          <ng-container *ngIf="deletingUserId === user.id; else deleteIcon">
            <div class="spinner-border text-primary" role="status" style="width: 1rem; height: 1rem;">
              <span class="visually-hidden">Deleting...</span>
            </div>
          </ng-container>
          <ng-template #deleteIcon>
            <span class="delete" (click)="user.id !== userID ? deleteUser(user.id!, user.name) : null">
              <mat-icon *ngIf="user.id !== userID">delete</mat-icon>
            </span>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- Paginatore -->
    <div class="pagination-controls">
      <div class="paginator">
        <button (click)="previousPage()" [disabled]="primaPagina"> < </button> <!-- back -->
        <span>Page {{currentPage}}</span>
        <button (click)="nextPage()" [disabled]="!oltre"> > </button> <!-- next -->
      </div>
      <div class="select-users-per-page">
        <!-- Selezionatore per il numero di utenti da mostrare -->
        <mat-form-field appearance="fill">
          <mat-label>user</mat-label>
          <mat-select [(ngModel)]="usersPerPage" (selectionChange)="onUsersPerPageChange($event)">
            <mat-option *ngFor="let option of usersPerPageOptions" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</section>
