<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" class="side-nav">
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="profile" [routerLinkActive]="'active'" class="list">
        <mat-icon>account_circle</mat-icon>
      </mat-list-item>
      <mat-list-item role="listitem" routerLink="users" [routerLinkActive]="'active'" class="list">Users</mat-list-item>
      <mat-list-item role="listitem" routerLink="posts" [routerLinkActive]="'active'" class="list">Posts</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <h3 class="custom-title">
        UrbanConnect
      </h3>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="navigateToLogin()">
        <mat-icon>logout</mat-icon> 
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
